/* Body font */
* {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  /* color: #222; */
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Merriweather", serif;
  font-weight: 700;
  /* color: #003366; IIT-style blue */
}

/* Buttons */
button {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

h1 {
  font-size: 42px;
}
h2 {
  font-size: 32px;
}
h3 {
  font-size: 24px;
}

p {
  font-size: 16px;
}
small {
  font-size: 14px;
}

.about-page {
  overflow: hidden;
  /* height: 100vh; */
}

/* ==================================================================== */
